.container {
  width: 100%;
  overflow: hidden;
  color: #1b1e38ff;
  display: flex;
  flex-direction: column;

  padding-bottom: 32px;

  .historyContaner {
    margin-bottom: 20px;

    .content {
      padding: 8px 32px 0;
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    .contentItem {
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      text-align: center;
      padding: 2px 16px;
      background-color: rgba(#080a1f, 0.1);
      transition: all 0.2s ease-in-out;

      .historyText {
        line-height: 20px;
        font-size: 14px;
      }

      .deleteIcon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(20%, -50%);
        font-size: 14px;
        background-color: #ff3333;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        padding: 3px;
        display: none;
      }

      &:hover,
      &:focus-within {
        background-color: #565977;
        color: rgba(#fff, 0.9);

        .deleteIcon {
          display: flex;
        }
      }
    }
  }
}
