$namespace: virsualLayout;

.#{$namespace}-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .#{$namespace}-header {
    position: relative;
  }

  .#{$namespace}-content {
    overflow: hidden;
    overflow-y: scroll;
    min-height: 0;
    flex: 1;
    padding-top: 6px;
  }
}
