.language-switch {
  border-radius: var(--base-border-radius);
  // line-height: var(--base-form-height);
  border: none;
  outline: none;
  background: none;
  color: currentColor;
  cursor: pointer;
  // // min-width: 80px;
  // width: fit-content;

  option {
    background: var(--overlay-color);
  }
}
