.baseHeader {
  &.gamePageHeaderSlot {
    flex-direction: column;
    align-items: flex-start;
    .headerSlot {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }
    .contentSlot {
      width: 100%;
    }
  }
}
