// SectionCarousel
$namespance: section-carousel;

.#{$namespance}-container {
  border-radius: var(--base-border-radius);
  overflow: hidden;
  position: relative;
  .#{$namespance}-item {
    height: 360px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    transition: all 0.2s ease-in-out;
    width: 44px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    &::after {
      font-size: 18px;
    }
    &:hover {
      background-color: var(--primary-color);
    }
  }
  @media screen and (max-width: 800px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}
