@charset "UTF-8";

.bold {
  font-weight: 700;
}

.normal {
  font-weight: normal;
}

.bolder {
  font-weight: 900;
}

.semiBold {
  font-weight: 600;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.pushRight {
  margin-left: auto;
}

.pushLeft {
  margin-right: auto;
}

.capitalize {
  text-transform: capitalize;
}

.ellipsis {
  @include ellipsis();
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.darkGreyColor {
  color: #6b7694;
}

.opaqueWhiteText {
  color: currentColor;
  opacity: 0.6;
}
