$namespace: listLayout;

.#{$namespace}-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .#{$namespace}-header {
    position: relative;
  }

  .#{$namespace}-content {
    overflow: hidden;
    overflow-y: scroll;
    min-height: 0;
    flex: 1;
    padding-top: 3px;

    .#{$namespace}-contentInner {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .#{$namespace}-prefix,
    .#{$namespace}-suffix {
      font-size: 16px;
    }
  }
}
