.wine-red-dark {
  // Category
  --category-color: #fff;
  --category-color-hover: #fff;
  --category-border-color-hover: var(--primary-color);
  --category-bg-color: rgba(255, 255, 255, 0.2);
  --category-bg-color-hover: var(--primary-color);
}
