.home-container {
  position: relative;
  .zoomIn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  .home-banner {
    padding-top: 50px;
  }
}
