.skeleton_cloudGameCategory {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-item {
    height: 60px;
    border-radius: 36px;
    border: 1px solid #f6f2ff;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }
}
