.skeleton_gameItem {
  .skeleton_gameItemMain {
    // margin-bottom: 12px;
  }
  .skeleton_gameItemTitle {
    width: 80%;
    margin-top: 12px;
    height: 22px;
    // line-height: 22px;
  }
  .skeleton_gameItemSubTitle {
    margin-top: 8px;
    width: 50%;
    height: 18px;
  }
}
