.skeleton_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 16px 0;
  line-height: 50px;
  .skeleton_headerLeft,
  .skeleton_headerRight {
    display: flex;
    align-items: center;
  }
}
