.category-container {
  .baseTagList-wrap {
    padding-bottom: 32px;
  }
  .category-tag-item,
  .fold-unfold {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .category-tag-item {
    .svgIcon {
      font-size: 40px /*no*/;
    }
    .icon {
      width: 40px;
      height: 40px;
      .defaultImge {
        background-color: transparent;
        opacity: 0.5;
      }
    }
  }
}
