.container {
  padding: 12px 0;
  // background: radial-gradient(24.52% 46.74% at 50.33% 47.92%, rgba(81, 165, 201, 0.2) 0%, rgba(79, 165, 201, 0) 100%),
  //   radial-gradient(21.19% 36.37% at 63.08% 56.52%, rgba(179, 214, 97, 0.2) 0%, rgba(179, 214, 97, 0) 100%),
  //   radial-gradient(22.34% 37.44% at 32.98% 55.76%, rgba(255, 66, 165, 0.2) 0%, rgba(255, 66, 165, 0) 100%);

  .header {
    text-align: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 6px;
    padding: 11px 0;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 6px;
    padding: 11px 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 16px;
    column-gap: 14px;
    row-gap: 16px;

    padding: 14px 0 12px;
    padding: 14px 0 12px;
    justify-content: center;
    align-items: center;
  }
}
