.header::after {
  content: "";
  background: linear-gradient(90deg, rgba(#722ed1, 0) 0%, #722ed1 49.65%, rgba(#722ed1, 0) 101.41%);
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
}
