// AdvertisementSection
$namespace: advertisement;

.#{$namespace}-container {
  position: relative;
  background-size: cover;
  cursor: default;
  border-radius: var(--medium-border-radius);
  background-position: center;
  background-repeat: no-repeat;

  .#{$namespace}-containerInner {
    display: flex;
    gap: 32px;
    align-items: center;
    @include abs-position;
    padding-top: 96px;
  }

  .#{$namespace}-smallIconContainer {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    cursor: pointer;
  }
}
