:root {
  --white: #fff;
  // 整体边距大小
  --screen-left: 46px;
  --screen-right: 46px;
  --screen-width: 1080px;
  --screen-min-width: 800px;

  // Form
  --base-form-height: 42px;

  --blue-color: #1a9fffff;
  --blue-color-hover: #4cb5ffff;
  --blue-color-focus: #4cb5ffff;
  --blue-color-active: #0086e5ff;
  --blue-color-disabled: #003c66ff;

  --success-color: #7fcc66ff;
  --success-color-hover: #87e467ff;
  --success-color-focus: #87e467ff;
  --success-color-active: #75ba5eff;
  --success-color-disabled: #2b4224ff;

  --warning-color: #ffd500ff;
  --warning-color-hover: #ffdd33;
  --warning-color-focus: #ffdd33;
  --warning-color-active: #ccaa00;
  --warning-color-disabled: #aa9900;

  --danger-color: #ff3333ff;
  --danger-color-hover: #ff4c4dff;
  --danger-color-focus: #ff4c4dff;
  --danger-color-active: #f20d0dff;
  --danger-color-disabled: #5f0103ff;

  --pink-color: #e83e98;
  --pink-color-hover: #fc62a9ff;
  --pink-color-focus: #fc62a9ff;
  --pink-color-active: #e83e8cff;
  --pink-color-disabled: #893a5eff;

  // radius(圆角)
  --base-border-radius: 4px;
  --medium-border-radius: 8px;
  --larger-border-radius: 12px;

  // header
  --header-bg-color: rgba(0, 0, 0, 0.2);
  --header-height: 70px;

  // Font size
  --base-font-size: 14px;
  --medium-font-size: 16px;
  --large-font-size: 18px;
  --small-font-size: 13px;
  --extra-small-font-size: 12px;
  --extra-large-font-size: 20px;
}
