.baseTagList-container {
  position: relative;
  &.mode-float {
    .baseTagList-wrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
  &.is-open {
    .baseTagList-inner {
      flex-wrap: wrap;
    }
  }
  .baseTagList-wrap {
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.98;
  }
  .baseTagList-inner {
    display: flex;
    gap: 12px;
    width: fit-content;
    opacity: 1;
  }
  .baseTagList-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    flex-wrap: nowrap !important;
  }
  .fold-unfold {
    padding: 15px 18px;
    font-size: 18px;
    .svgIcon {
      transition: transform 0.2s ease-in-out;
      color: var(--primary-color);
    }
    &:hover {
      .svgIcon[icon="unfold"] {
        transform: translateY(10%);
      }
      .svgIcon[icon="fold"] {
        transform: translateY(-10%);
      }
    }
    &:not(.isOpen) ~ div {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
