.marquee-slide-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  &.marquee-slide-enable {
    opacity: 1;
  }
}
.marquee-slide-item {
  display: flex;
  align-items: center;
  height: 100%;
}
