.inifite-carousel {
  width: 100%;
  overflow: hidden;
  &-inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    // width: 100%;
    width: max-content;
    animation: 10s linear 0s infinite scroll;

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
}
.inifite-carousel-item {
  flex-shrink: 0;
}
