$duration: 0.3s;

.mask-motion {
  &-enter,
  &-appear,
  &-leave {
    &-active {
      transition: all $duration;
    }
  }

  &-enter,
  &-appear {
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}

@mixin panel-motion-mixin() {
  .mask-motion-enter,
  .mask-motion-appear,
  .mask-motion-leave {
    .mask-motion-start {
      transition: none !important;
    }

    .mask-motion-active {
      transition: all $duration;
    }
  }
}

.panel-motion {
  &-left {
    @include panel-motion-mixin;

    &-enter,
    &-appear {
      transform: translateX(-100%);

      &-active {
        transform: translateX(0);
      }
    }

    &-leave {
      transform: translateX(0);

      &-active {
        transform: translateX(-100%) !important;
      }
    }
  }

  &-right {
    @include panel-motion-mixin;

    &-enter,
    &-appear {
      transform: translateX(100%);

      &-active {
        transform: translateX(0) !important;
      }
    }

    &-leave {
      transform: translateX(0);

      &-active {
        transform: translateX(100%) !important;
      }
    }
  }

  &-bottom {
    @include panel-motion-mixin;

    &-enter,
    &-appear {
      transform: translateY(100%);

      &-active {
        transform: translateY(0) !important;
      }
    }

    &-leave {
      transform: translateY(0);

      &-active {
        transform: translateY(100%) !important;
      }
    }
  }
}
