$color: (#1177b9, #2e88c2, #2e88c2, #0f69a3, #0f69a3);
.container {
  &:global {
    &.button.primaryButton {
      @include btnBg($color);
    }
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 2px 8px 1px 9px;
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}
