.backIcon-container {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: currentColor;
  line-height: inherit;

  .backIcon-container-icon {
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    padding: 6px;
    width: 28px;
    height: 28px;
  }
  // nxt
  &:hover {
    color: var(--primary-color);
    .backIcon-container-icon {
      @include btnBg($color: $linkColorChange, $attr: background-color);
      color: var(--switch-color);
      @include btnBg($color: $linkColorChange, $attr: border-color);
    }
  }
}
