.banner-swiper-switch-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(50% + 25px);
  transform: translateY(-50%);

  transition: opacity 0.3s ease-in-out;

  .switchLeft,
  .switchRight {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    bottom: 22px;

    .switchIcon {
      font-size: 32px;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      @include btnBg($color: $switchBgColorChange);
      @include btnBg($color: $switchColorChange, $attr: color);

      &.disabled {
        display: none;
      }
    }
  }

  .switchLeft {
    left: 0;
    transform: translateX(-50%);
  }

  .switchRight {
    right: 0;
    transform: translateX(50%);
  }
}
