.pageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .pageLayoutHeader {
    .pageLayoutHeaderTitle {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      background-color: transparent;
      color: currentColor;
      line-height: inherit;

      .headerBackIcon {
        transition: all 0.2s ease-in-out;
        color: var(--primary-color);
        font-size: 28px;
      }

      &:hover {
        .headerBackIcon {
          transform: translateX(-8px);
        }
      }
    }
  }

  .pageLayoutContent {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overscroll-behavior: none;

    & > div:last-child {
      padding-bottom: 30px;
    }
  }
}
