$namespace: game-carousel-section;

.#{$namespace}-homeBanner {
  position: relative;
  .swiper-slide {
    width: 132px;
    margin-right: 24px;
  }

  &:hover {
    .#{$namespace}-homeBannerSwitch {
      opacity: 1;
    }
  }

  .#{$namespace}-carouselItem {
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    .gameNameShadow {
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
      font-size: 14px;
      // word-spacing: -0.3px;
      letter-spacing: -0.3px;
    }

    &::after,
    &::before {
      display: block;
      content: '';
      height: 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
      transform: translateY(20px);
    }
  }

  .#{$namespace}-activeItem {
    .gameItemOverlayContainer {
      box-shadow: 0px 4px 23px 0 rgba(244, 208, 0, 0.6);

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 4px solid #ffd500;
        border-radius: var(--base-border-radius);
        box-sizing: border-box;
        top: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;
      }
    }

    transform: translateY(-20px);
    position: relative;

    &::after {
      position: absolute;
      border: 4px solid #ffd400;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  .#{$namespace}-homeBannerSwitch {
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(50% + 0.21404rem);
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: 10;

    .switchLeft,
    .switchRight {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 10;
      bottom: 22px;

      .switchIcon {
        font-size: 32px;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        color: #5c4e01ff;
        @include iconAnimation(1.1);
        @include scope(wine-red-dark) {
          @include btnBg($color: $switchColorChange, $attr: color);
        }

        &.disabled {
          display: none;
        }
      }
    }

    .switchLeft {
      left: 0;
      transform: translateX(-50%);
    }

    .switchRight {
      right: 0;
      transform: translateX(50%);
    }
  }
}
