$namespace: common-carousel-section;

.#{$namespace} {
  .#{$namespace}-headerLeft,
  .#{$namespace}-headerRight {
    display: flex;
    align-items: center;
    gap: 16px;

    .common-carousel-section-title {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
    }
  }
}
