html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.appContainer {
  @include abs-position();
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
  font-size: var(--base-font-size);
  *::placeholder {
    color: var(--placeholder-text-color);
  }

  .transitionImage {
    img {
      transition: transform 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.2);
      transform-origin: center center;
    }
  }

  &.contentInner {
    overflow: hidden;
    overflow-y: auto;

    .container {
      margin: 0 auto;
      width: 100%;
      padding: 0 20px;
    }

    @media screen and (min-width: 1120px) {
      .container {
        padding: 0;
        max-width: calc(100% - 100px);
      }
    }
  }
}

.filter-blur {
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(24px);
    z-index: -1;
  }
}

.text--clickable {
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
  &:active {
    color: var(--primary-color-active);
  }
  &.icon-text {
    padding: 15px;
    border-radius: 50%;
    line-height: 1;
    transition: all 0.2s ease-in-out;
  }
  &:hover,
  &:active {
    &.icon-text {
      // background-color: var(--overlay-color);
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
    }
  }
}
