$namespace: button-group;
.#{$namespace} {
  display: flex;
  gap: 16px;
  &.#{$namespace}--large {
    gap: 20px;
  }
  &.#{$namespace}--small {
    gap: 10px;
  }
  &.#{$namespace}--mini {
    gap: 6px;
  }
}
