// 弹性图片
.responsive-container {
  width: 100%;
  position: relative;
  height: 0;

  & > div {
    @include abs-position;
    overflow: hidden;
    border-radius: var(--base-border-radius);
  }

  &.ratio-16-9 {
    @include apply-aspect-ratio(16, 9);
  }

  // 云游戏模块使用
  &.ratio-40-21 {
    @include apply-aspect-ratio(40, 21);
  }

  &.ratio-3-4 {
    @include apply-aspect-ratio(3, 4);
  }

  &.ratio-131-50 {
    @include apply-aspect-ratio(131, 50);
  }

  &.ratio-1-1 {
    @include apply-aspect-ratio(1, 1);
  }

  &.ratio-120-67 {
    @include apply-aspect-ratio(120, 67);
  }
}

// 全局默认图片
.defaultImge {
  width: 100%;
  height: 100%;
  background-color: #0b022380;
  background-image: url(~@/images/logo.png);
  opacity: 0.3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;

  img {
    opacity: 0;
  }
}
