::-webkit-scrollbar {
  display: block;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
  border-radius: 3px;
  background-color: var(--scroll-color);

  &:hover {
    background-color: var(--scroll-hover-color);
  }
}

.activeScroll {
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-hover-color);
  }
}
