.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.justifyCenter {
    justify-content: center;
  }
  &.alignCenter {
    align-items: center;
  }
  &.perfectCenter {
    justify-content: center;
    align-items: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.noWrap {
    flex-wrap: nowrap;
  }
  &.spaceBetween {
    justify-content: space-between;
  }
  &.start {
    align-items: flex-start;
  }
  &.end {
    align-items: flex-end;
  }
  &.flexEnd {
    justify-content: flex-end;
  }
  &.flexStart {
    justify-content: flex-start;
  }
  &.baseline {
    align-items: baseline;
  }
  &.spaceEvenly {
    justify-content: space-evenly;
  }
  .grow {
    flex-grow: 1;
  }
  .noShrink {
    flex-shrink: 0;
  }
  .none {
    flex: none;
  }
  .flex-1 {
    flex: 1;
    min-height: 0;
  }
}
