.lightRcTooltip {
  opacity: 1;
  .rc-tooltip-inner {
    background-color: #fff;
    color: rgba(#28304c, 0.6);
    padding: 12px 16px;
    border-radius: var(--base-border-radius);
    line-height: 1.4;
    font-size: 14px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.5);
  }
  &.rc-tooltip-placement-right,
  &.rc-tooltip-placement-rightTop,
  &.rc-tooltip-placement-rightBottom {
    .rc-tooltip-arrow {
      border-right-color: #fff;
    }
  }
  &.rc-tooltip-placement-left,
  &.rc-tooltip-placement-leftTop,
  &.rc-tooltip-placement-leftBottom {
    .rc-tooltip-arrow {
      border-left-color: #fff;
    }
  }

  &.rc-tooltip-placement-top,
  &.rc-tooltip-placement-topLeft,
  &.rc-tooltip-placement-topRight {
    .rc-tooltip-arrow {
      border-top-color: #fff;
    }
  }

  &.rc-tooltip-placement-bottom,
  &.rc-tooltip-placement-bottomLeft,
  &.rc-tooltip-placement-bottomRight {
    .rc-tooltip-arrow {
      border-bottom-color: #fff;
    }
  }
}
