.container {
  position: relative;
  border-radius: var(--medium-border-radius);
  border: 1px solid var(--base-border-color);
  background: var(--overlay-color);
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  .inputContainer {
    position: relative;
    color: var(--text-color);
    cursor: pointer;

    .icon {
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);

      &.afterIcon {
        right: 16px;
        font-size: 18px;
        cursor: pointer;
      }

      &.clearIcon {
        right: 16px;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
      }
    }

    &:hover {
      .clearIcon {
        color: var(--danger-color);
      }
    }

    .input {
      z-index: 1;
      width: 100%;
      height: var(--base-form-height);
      padding: 10px 45px 10px 32px;
      font-size: 16px;
      line-height: 1;
      background: transparent;
      position: relative;
      color: var(--text-color);
      outline: none;
      transition: all 0.2s ease-in-out;
    }
  }
}
