.drawerNav-container {
  .drawerNav--item {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: var(--placeholder-text-color);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--text-color);
      background-color: rgba(#fff, 0.2);
    }
  }
}
