.play-ground-header {
  .play-ground-header--left,
  .play-ground-header--right {
    gap: 10px;
    height: 100%;
  }
  .brand-logo {
    height: 50px;
  }
  .play-ground-header--search {
    gap: 10px;
    font-size: 20px;
    height: 100%;
    margin-left: 20px;
    width: fit-content;
    span {
      font-size: var(--medium-font-size);
    }
    &.is-active {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}
