.skeleton_gameList {
  display: flex;
  flex-direction: column;
  .skeleton_gameListHeader {
    position: relative;
  }
  .skeleton_gameListContent {
    min-height: 0;
    flex: 1;
    .skeleton_gameListContentInner {
      display: grid;
      grid-template-rows: max-content;
    }
  }
}
