.skeleton_homeBanner {
  .skeleton_homeBannerDesc {
    .skeleton_baseDescSubTitle {
      height: 56px;
      margin-bottom: 16px;
      width: 250px;
    }
    .skeleton_baseDescTitle {
      height: 49px;
    }
  }
}
