.container {
  display: flex;
  gap: 12px;
  padding: 8px 32px;
  color: #1b1e38ff;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: rgba(0, 0, 0, 0.05);

    .right .actions {
      display: flex;
    }
  }

  .left {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  .right {
    display: flex;
    gap: 25px;
    flex: 1;
    min-width: 0;

    .title {
      padding: 10px 0;
      min-width: 0;
      flex: 1;
      @include ellipsis;
      align-items: center;
      text-align: left;
      font-size: 16px;
      .matchString {
        color: var(--primary-color);
      }
    }

    .actions {
      display: none;
      gap: 8px;
      align-items: center;

      .actionButton {
        // width: 96px;
        overflow: hidden;
        white-space: nowrap;
        padding: 6px 7px 5px;
        :global {
          .buttonIcon,
          .buttonContent {
            font-size: 14px;
            font-weight: 400;
          }
        }

        font {
          display: block;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
}
