.container {
  width: 100%;
  overflow: hidden;
  color: #1b1e38ff;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;

  .loadingContainer {
    font-size: 16px;
    color: #7f82a0;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    margin-bottom: 12px;

    overflow: hidden;
    .loadingIcon {
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
  }

  .emptyContainer {
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;

    .emptyContainerIcon {
      font-size: 64px;
    }

    .emptyContainerText {
      font-size: 16px;
      color: #7f82a0;
    }
  }

  .content {
    max-height: 385px;
    overflow: hidden;
    overflow-y: auto;
  }

  .footer {
    padding: 8px 32px;

    .footerAlert {
      font-size: 14px;
      background-color: #373a58ff;
      border-radius: 10px;
      padding: 10px 16px 9px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 100%;

      span {
        @include ellipsis;
      }
    }

    .footerIcon {
      font-size: 12px;
    }
  }

  .searchButton {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
