.popularGameContainer {
  .content {
    width: 100%;
    overflow: hidden;
    color: #1b1e38ff;
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 8px 32px;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: 4px;

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1b1e38;

    .icon {
      font-size: 16px;
    }

    .text {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .headerRight {
    color: #7f82a0;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
  }
}
